@charset "UTF-8";

* {
    height: auto;
    background-attachment: fixed;
}

body {
    background-color: #003049;
    font-family: 'Times New Roman', Times, serif;
}

header {
    text-align: center;
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #815E5B;
    margin-bottom: 35px;
    border-radius: 0px 0px 10px 10px;
}

h1 {
    color: #EAF2EF;
}

.subtitle {
    color: #EAF2EF;
}

.glossario {
    background-color: #815E5B;
    display: flex;
    flex-direction: column;
    border-radius: 0px 15px 15px 15px;
    text-align: center;
    margin-bottom: 35px;
}

h2, h3 {
    color: #EAF2EF;
}

main {
    text-align: center;
    background-color: #EAF2EF;
    display: flex;
    flex-direction: column;
    border-radius: 15px 0px 15px 15px;
    text-align: center;
}

.exercicios {
    text-align: center;
    background-color: #815E5B;
    display: flex;
    flex-direction: column;
    border-radius: 0px 15px 15px 15px;
    text-align: center;
    margin-top: 35px;
}

.title {
    color: #003049;
}

.item > p {
    display: none;
    color: black;
}

.item:hover > p {
    display: block;
}

.item {
    color: #EAF2EF;
}

.menor {
    font-size: 12px;
}

.grande {
    font-size: 20px;
}

a {
    color: #EAF2EF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#diferente {
    color: #003049;
}