@charset "UTF-8";

/* typical device breakpoints
telas pequenas - até 600px
celular - de 600 a 768px
tablet - de 769 a 992px
pc - de 993 a 1200px
grandes telas - acima de 1200px
*/

@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg);
    }

    main {
        border: solid 3px black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img.icons { display: none; }
    img#phone { display: none; }
    img#print { display: block; }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img.icons { display: none; }
    img#phone { display: none; }
    img#tablet { display: block; }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img.icons { display: none; }
    img#phone { display: none; }
    img#pc { display: block; }
}

@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img.icons { display: none; }
    img#phone { display: none; }
    img#tv { display: block; }
}