@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    overflow-x: auto;
}

caption {
    border: solid 1.5px green;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    font-size: 1.4em;
    font-weight: bold;
}

th, td {
    border: solid 1.5px green;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: lightblue;
}

div#tablecontainer {
    overflow-x: auto;
}