@charset "UTF-8";

body {
    height: 97vh;
    position: relative;
    background: black url(imagens/espaco.jpg) center center/cover no-repeat fixed;
}

img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}